<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.dao.AdminDao">
	<insert id="addTeacher" parameterType="User">
		insert into t_user
		values(null,#{userNumber},#{userName},#{password},#{email},#{sex},#{address},#{phoneNumber},#{status})
	</insert>
	<resultMap type="User" id="UserResult">
		<result property="id" column="id" />
		<result property="userNumber" column="userNumber" />
		<result property="userName" column="userName" />
		<result property="password" column="password" />
		<result property="email" column="email" />
		<result property="sex" column="sex" />
		<result property="address" column="address" />
		<result property="phoneNumber" column="phoneNumber" />
		<result property="status" column="status" />
	</resultMap>
	<select id="getAllTeacher" resultMap="UserResult" parameterType="String">
		select * from t_user where status=#{status}
	</select>
	<delete id="deleteById" parameterType="Integer">
		delete from t_user where
		id=#{id}
	</delete>
	<update id="updateById" parameterType="User">
		update t_user set
				userNumber=#{userNumber},
				userName=#{userName},
				password=#{password},
				email=#{email},
				sex=#{sex},
				address=#{address},
				phoneNumber=#{phoneNumber},
				status=#{status}
		where id=#{id}
	</update>
	<select id="findById" resultMap="UserResult" parameterType="Integer">
		select * from t_user where id=#{id}
	</select>
	<select id="findByNumber" resultMap="UserResult" parameterType="String">
		select * from t_user where userNumber=#{userNumber}
	</select>
</mapper> 